<%= simple_form_for(location) do |form| %>
    <%= form.input :photos, as: :file, input_html: { multiple: true } %>

  <% if location.errors.any? %>

    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
